.E-comerce{
    display: flex;
    gap: 1.2rem;
    grid-auto-rows: 26rem;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: center;
    max-width: 870px;
}

.imagePackageE{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 250px;
    height: 400px;
    background-image: linear-gradient(320deg,#d7b0005c 10%, rgba(15, 15, 15, 0.45) 50%);
    box-shadow: 5px 6px 5px rgb(43, 42, 42);
    transition: 0.8s; 
    font-family:  'Garant Pro' ;
    color: var(--white);
}

.imagePackageE:hover{
    width: 255px;
    height: 418px;
    box-shadow: 10px 8px 5px rgba(#ffe3d8, 0.384);
    background-image: linear-gradient(290deg,#d7b0005c 10%, rgba(15, 15, 15, 0.45) 50%);
}

#tarjeta{
    display: none;
}

.buyButton{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;

}