@import url('https://fonts.cdnfonts.com/css/garant-pro?styles=143035,143032');
@import url('https://fonts.cdnfonts.com/css/tt-rationalist-trl');

/*Selector Universal*/
:root{
    --black: #000;
    --grey: #ECECEC;
    --white: #fff;
    --gold1: #FFE680;
    --gold2: #D7AE00;
}

*{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    font-family: 'Garant pro';
    background-color: #000;

}

.nav_Header {
    width: 100%;
    height: 30px;

}

.nav_Main{
    background-image: url(../Img/fondo_Premium_Cont.png);
    background-size: cover;
    object-fit: none;
    background-position: right center;
    height: 100vh;
}

.numeros{
    display: flex;
    width: 35%;
    align-content: center;
    justify-content: center;
    margin-left: 30%;

}

.container_Numero{
    color: var(--white);
    display: flex;
    align-items: center;
    width: 30%;
    text-align: center;
}

.circulo_Numero1{
    width: 30px;
	height: 30px;
	shape-outside: circle();
    clip-path: circle();
	background: var(--gold2);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    font-size: 10px;

}

.circulo_Numero{
    width: 30px;
	height: 30px;
	shape-outside: circle();
    clip-path: circle();
	background: #535658;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    font-size: 10px;

}

.texto_Numero{
    color: var(--white);
    opacity: 0.8;
}

.flecha{
    color: var(--white);
    display: flex;
    width: 5%;
    text-align: center;
}


.container_Principal{
    background-color: #212121;
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
}

.conteiner_Info > p{
    color: var(--white);
    font-family: 'TT rationalist trl';
}


.container_TituloPubli{
    background-color: #2a292d;
    border-radius: 15px 15px 10px 10px;
    margin: 10px 0px 20px;
}
.container_TituloPubli > input{
    background-color: #3F3D46;
    border: none;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.container_TituloPubli > p{
    color: var(--white);
    font-size: 10px;
    margin-left: 3px;
}

.container_Descripcion{
    margin: 10px 0px;
}

.container_Descripcion > input{
    background-color: #3F3D46;
    border: none;
    padding: 8px;
    border-radius: 10px;
    padding-bottom: 55px;
}


.cat_Vistas{
    color: var(--white);
    display: flex;
    margin-bottom: 20px;
    margin-top: 30px;
}

.categoria{
    margin-right: 10%;
}

.categoria > p{
    font-size: 15px;
}

.vistas > p{
    font-size: 15px;
}

select{
    background-color: #3F3D46;
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}

.etiquetas{
    margin-bottom: 20px;
}

.seleccionar{
    background-color: #3F3D46;
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    color: var(--white);
    padding: 10px 0px;
    font-size: 13px;
}


.seleccionar input{
    width: 10%;
}

.etiquetas > p{
    color: var(--white);
}


.etique{
    width: 40%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}


.container_Botones{
    display: flex;

}

button{
    width: 30%;
    padding: 10px 0px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.cancelar{
    background-color: #000;
    border: 1px white solid;
    color: white;
    margin-right: 40%;
    cursor: pointer;
}

.borde_Imagen{
    width: 80%;
    margin-left: 10%;
    border: 1px rgb(128, 128, 128, 0.4) solid ;
    border-radius: 10px;
    padding: 3%;
}

.imagen{
    border-radius: 10px;
}

footer{
    height: 50px;
}





@media  (min-width: 601px) and (max-width: 1000px){
    .numeros{
        display: flex;
        width: 50%;
        align-content: center;
        justify-content: center;
        margin-left: 25%;

    }
    .container_Numero{
        color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        text-align: center;
        font-size: 12px;
    }

    


}

@media  (min-width: 320px) and (max-width: 600px){
    .numeros{
        display: flex;
        width: 70%;
        align-content: center;
        justify-content: center;
        margin-left: 15%;

    }
    .container_Numero{
        color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        text-align: center;
        font-size: 12px;
    }

    
    
}

@media  (min-width: 320px) and (max-width: 715px){
    .container_Principal{
        background-color: #212121;
        width: 70%;
        margin-left: 15%;
        margin-top: 30px;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap-reverse;
        padding: 30px;
    }



    .conteiner_Info{
        display: flex;
        flex-wrap: wrap;
    }


    .cat_Vistas{
        color: var(--white);
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .categoria{
        margin-right: 0%;
        margin-bottom: 20px;
    }



    .borde_Imagen{
        width: 40%;
        margin-left: 30%;
        margin-bottom: 20px;
        
    }
    
    .imagen{
        border-radius: 10px;
    }

    .seleccionar{
        background-color: #3F3D46;
        border-radius: 10px;
        display:flex;
        flex-direction: column;
        color: var(--white);
        padding: 10px 0px;
        font-size: 13px;
    }
    

}