

:root{
    --black: #000;
    --grey: #ECECEC;
    --white: #fff;
    --gold1: #FFE680;
    --gold2: #D7AE00;
}

*{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#swal2-html-container {
    margin-left: 0 !important; /* Establece el margen izquierdo a 0 */
  }

.navBar{
    display: flex;
    flex-direction: row;
    background-color: var(--black);
    width: 100%;
    height: 80px; 
    position: fixed;
    z-index: 2;
}

.navBar a{
    display: inline;
    color: var(--white);
    font-family: 'TT Rationalist Trl', sans-serif;
    font-size: 20px;
    font-weight:500;                           
}

.logosNav{
    align-items: center;
    margin: 10px 0px;
    align-items: center;
    width: 10%;
    margin-left: 50px;
    padding-bottom: 8px;

}

.logoNavBar2 img{
    display: none;

}
.linksNavBar{
    margin-top: 30px;
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: row;
    max-width: 992px;
}
.linksNavBar  ul{
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.navBarIcons{
    display: flex;
    flex-direction: row;
    text-align: center;
    width:10%;
    margin-top: 30px;
}
.navBarIcons a{
    padding: 0px 20px;
}
.navBarIcons:hover {
    color: var(--gold2);
}
.navBarIcons:active {
    color: var(--gold1);
}

.profileConfig{
    text-align: left;
    width: 10%;
    margin-top: 15px;
    margin-left: 2%;
    padding-left: 50px;
    float: left;

}
.handelImage{
    max-width: 130px;
    max-height: 48px;
}
.notifications{
    padding: 10px 15px;
    text-align: left;
    margin-left: 2%;
    padding-left: 10px;
    font-family: 'Garant pro';
    display: none;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    z-index: 58;
    text-align:left;
    position: absolute;
    top: 80px;
    right: 20%;
    width: 20%;
    line-height: 20px;
    overflow-y: auto;
    color: white;
    border-radius: 0 0 20px 20px;
    max-height: 190px;
}



.notifications::-webkit-scrollbar {
    -webkit-appearance: none;
}

.notifications::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.notifications::-webkit-scrollbar:vertical{
    width: 10px;
}

.notifications::-webkit-scrollbar-thumb {
    background-color: #343434;
    border-radius: 20px;
    border: none;
}

.notifications::-webkit-scrollbar-track {
    border-radius: 10px;  
}



#campana{
    width: 24px;
    margin-right: 10px;
    color: #D7AE00;
}

.notifications p{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.profileConfig li{
    list-style: none;
    text-align: left;
}
a{
    text-decoration: none;
    cursor: pointer;
}

/*Especificaciones sección Billetera*/
.containerBilletera {
    display: none;
    flex-direction: column;
    width: 30%;
    min-width: 255px;
    max-width: 320px;
    height: auto;
    color: var(--white);
    font-family: 'Garant Pro';
    justify-content: center;
    margin-left: 5%;
    padding: 10px;
    align-items: center;
    background-color: #3a3a37;
    border-radius: 20px;
}

.containerSaldo {
    background: #474646;
    width: 100%;
    border-radius: 20px;
}

/*Especificaciones título 'Tu saldo es'*/
.saldoTitle {
    font-weight: lighter;
    font-size: 15px;
}

/*Especificaciones monto del saldo*/
.saldo {
    font-weight: lighter;
    font-size: 15px;
}

.containerBilletera button {
    margin-bottom: 10px;
    color: black;  
    font-weight: bold;
    text-decoration: none;
    background: linear-gradient(180deg, var(--gold2) 0%, var(--gold1) 100%);
    text-align: center;
    border-radius: 40px;
    margin-top: 10px;
    font-size: 14px;
    height: 35px;
    width: 30%;
    padding: 0px;
    cursor: pointer;
    border: none;
}

.menuButton{
    display: none;
}
.burgerMenu{
    visibility: hidden;
}

.profileList a{
    display: flex;
    flex-direction: row;
    font-family: 'Garant pro';
    padding: 10px 0;
}
.profileList a:hover{
    background-color: var(--black);
    transition: .9s;
}
.profileList {
    display: none;
    flex-direction: column;
    background-color: rgb(46, 46, 46);
    z-index: 50;
    text-align:left;
    position: absolute;
    right: 0;
    top: 80px;
    width: 100%;
    text-align: center;
    line-height: 60px;
    height: calc(100%-80px);
    overflow-y: auto;
    
}
.profileConfig_visible {
    display: block;

}
.profileList i{
    text-align: center;
    margin: 15px;
    width: auto;
}    
.profileImg{
    width: 50px;
    background-color: var(--black);
    border: none;
    cursor: pointer;
}

.profileImg>img{
    width: 50px;
    height: 50px;
}

/*Diseño responsive*/

@media  (min-width: 350px) and (max-width: 1255px){
    .navBar{
        align-items: center;
        height: 80px;
    }

    .menuButton{
        display: flex;
        width: 10%;
        margin-right: 30px;
        background-color: none;
    }
    .burgerMenu{
        visibility: visible;
        background-color: var(--black);
        border: none;
        cursor: pointer;
        
    }

    .burgerMenu i{
        text-align: center;
        font-size: 40px;
    }
    
    .logosNav{
        width: 10%;
    }
    .logoNavBar2 img{
        width: 30px;
        align-items: center;
        display: flex;
    }

    .logoNavBar img{
        display: none;

    }

    .navBarIcons{
        width: 50%;
        /*align-items: center;*/
        margin-left: 10px;
    }
    .navBarIcons a{
        padding: 0px 5px;
        margin-bottom: 25px;
    }
    .profileConfig{
        width: 25%;
        padding-left: 0px;
        margin-left: 20px;
        margin-bottom: 15px;
    }
    .profileList {
        display: none;
        flex-direction: column;
        background-color: rgb(46, 46, 46);
        z-index: 50;
        text-align:left;
        position: absolute;
        right: 0;
        top: 80px;
        width: 100%;
        text-align: center;
        line-height: 60px;
        overflow-y: auto;    
    }
    .profileList i{
        text-align: center;
        margin: 15px;
        width: auto;
        transition: .9s;
    }

    .linksNavBar{
        width: 1px;
        transition: .9s;

    }

    .linksNavBar ul{
        display: none;
        flex-direction: column;
        background-color: rgb(46, 46, 46);
        z-index: 50;
        text-align:left;
        position: absolute;
        right: 0;
        top: 80px;
        width: 100%;
        text-align: center;
        line-height: 70px;
        height: calc(100%-80px);
        overflow-y: auto;
        transition: .9s;
        list-style: none;
        padding: 0px 0px;
    }

    .linksItems:hover {
        background-color: var(--black);
        transition: .9s;
    }

    .linksNavBar_visible{
        display: flex;
    }
    .profileConfig_visible{
        display: flex;
    }

    .notifications{
        padding: 10px 15px;
        text-align: left;
        margin-left: 2%;
        padding-left: 10px;
        font-family: 'Garant pro';
        display: none;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        z-index: 58;
        text-align:left;
        position: absolute;
        top: 80px;
        right: 50%;
        width: 30%;
        line-height: 20px;
        overflow-y: auto;
        color: white;
        border-radius: 0 0 20px 20px;
        max-height: 190px;
    }
}
@media  (min-width: 350px) and (max-width: 700px){
    .notifications{
        padding: 10px 15px;
        text-align: left;
        margin-left: 2%;
        padding-left: 10px;
        font-family: 'Garant pro';
        display: none;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        z-index: 58;
        text-align:left;
        position: absolute;
        top: 80px;
        right: 40%;
        width: 50%;
        line-height: 20px;
        overflow-y: auto;
        color: white;
        border-radius: 0 0 20px 20px;
        max-height: 190px;
    }

}
@media  (min-width: 2100px){
    .notifications{
        padding: 10px 15px;
        text-align: left;
        margin-left: 2%;
        padding-left: 10px;
        font-family: 'Garant pro';
        display: none;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        z-index: 58;
        text-align:left;
        position: absolute;
        top: 80px;
        right: 30%;
        width: 20%;
        line-height: 20px;
        overflow-y: auto;
        color: white;
        border-radius: 0 0 20px 20px;
        max-height: 190px;
    }
}

/*Diseño responsive Billetera*/
@media (min-width: 350px) and (max-width: 800px) {

}