/*Fuentes tipográficas*/
@import url('https://fonts.cdnfonts.com/css/garant-pro?styles=143035,143032');
@import url('https://fonts.cdnfonts.com/css/tt-rationalist-trl');

/*Paleta de colores*/
:root{
    --transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    --black: #000;
    --grey: #ECECEC;
    --white: #fff;
    --gold1: #FFE680;
    --gold2: #D7AE00;
}
/* CUADRO DE ALERTA */
/* Estilo para el contenedor de la alerta APROBADA*/
.mi-alerta {
    background-color: #f5f5f5;
    border: 2px solid #ccc;
}

.mi-titulo {
    color: #333;
    font-size: 20px;
}

.mi-contenido {
    color: #666;
}

.mi-boton {
    background-color: #007bff;
    color: #fff;
    width: 100px;
}
/* Estilo para el contenedor de la alerta RECHAZADA*/
.mi-alerta-error {
    background-color: #ffcccc;
    border: 2px solid #ff0000;
}

.mi-titulo-error {
    color: #ff0000;
    font-size: 20px;
}

.mi-contenido-error {
    color: #ff3333;
}

.mi-boton-error {
    background-color: #ff0000;
    color: #fff;
    width: 100px;
}
/*Especificaciones generales*/
*{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #000000; */
}

/*Especificaciones generales para el contenido del body*/
.body {
    font-family: 'Garant Pro';
    overflow-x: hidden;
}

/*Especificaciones para el container main que encierra todo el contenido*/
main{
    display: flex;
    flex-direction: row;
}

/*COLUMNA IZQUIERDA-información del perfil*/
.container1 {
    width: 25%;
    margin: 0px;
    padding: 0px;
    background-color: #1E1E1E;
    color: #ffffff;
    position: fixed;
    height: 100%;
}

/*Logo*/
.container1LogoHandel {
    width: 100%;
    text-align: left;
}

.logo {
    margin-top: 10px;
    width: 25%;
    margin-bottom: 10%;
    margin-left: 10%;
}

/*Información principal del perfil: imagen, nombre, usuario*/
.container1DatosPerfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 25px;
    font-family: 'Garant Pro';
    font-size: 18px;
}

/*Imagen perfil de la columna izquierda*/
.container1imgPerfil {
    width: 20%;
    border-radius: 35px;
    margin-bottom: 5px;
}

/*Información sobre ranking del perfil en subastas, transacciones y puntuación*/
.container1RankingPerfil {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Garant Pro';
    font-size: 14px;
}

/* Texto subastas, transacciones, puntuación */
.container1RankingPerfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Garant Pro';
    justify-content: space-between;
    width: 81%;
    margin-left: 10%;
}

.containerSubastas {
    font-size: 12px;
    padding: 0 2% 0 0;
}

.containerTransacciones {
    font-size: 12px;
    padding: 0 2% 0 0;
}

.containerPuntuacion {
    font-size: 12px;
}


.parrafoEstrella{
    display: flex;
}

.parrafoEstrella>i{
    margin-left: -50%;
}

/*Íconos y textos de inicio, subastas, trueques, mensajes, configuración*/
.container1ColumnaIconosTexto {
    display: flex;
    flex-direction: column;
    font-family: 'Garant Pro';
    padding: 20px;
}
a{
    text-align: left;
    text-decoration: none;
    
    color: #ECECEC;
}
.redirections {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
}
.redirections>i {
   width: 25px;
}

.letra{
    display: none;
}


.container1ColumnaIconosTexto>div>i {
    width: 25px;
}

/*Línea de división*/
hr{
    width: 89%;
    margin: 10%;
    color: #8b8989;
}
.salir_boton{
    text-align: start;
}

/*Botón de salir*/
#logout {
    display: flex;
    flex-direction: row;
    background-color: #1e1e1e00;
    font-family: 'Garant Pro';
    padding: 0px;
    margin-left: 15px;
    width: 80%;
    color: #ffffff;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

#logout>i{
    width: 50px;
    size: 200%;
    font-size: 20px;
} 

/*COLUMNA DERECHA-barra de búsqueda, íconos, botón e información de subastas y truques*/
.container2 {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    width: 75%;
    height: 100%;
    background: #000;
}

/*Contenedor de barra de búsqueda e íconos*/
.navBarra {
    font-family: 'Garant Pro';
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 20px;
    align-items: center;
}

.navBarra_iconos{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 40px;
    cursor: pointer;
    /* margin-right: 40px; */
}

/*Barra de búsqueda*/
#barraBusqueda {
    width: 80%;
    margin-left: 3%;
    margin-top: 10px;
    border-radius: 60px;
    height: 20px;
    padding: 15px;
    background-color: #1E1E1E;
    color: white;
    border: none;
}

/*Íconos de notificaciones y suscripciones*/
.iconosNavBarra {
    width: 30px;
    color: #ffffff;
    padding: 10px 0px 0px 0px;
}

/*Botón de publicar*/
.navBarra button {
    width: 100px;
    border-radius: 50px;
    margin-left: 15px;
    display: flex;
    padding: 7px;
    font-family: 'Garant Pro';
    border: none;
    background: linear-gradient(90deg, var(--gold2) 0%, var(--black)110%);
    color: var(--white);
    cursor: pointer;
}

/*Ícono + del botón Publicar*/
.navBarra button i {
    width: 20px;
    margin-top: 3px;
}

/*Container de la columna derecha sin la barra de navegación*/
.container2ColumnaDer {
    padding: 10px 10px 10px 10px;
}


/*Título "Subastas en tendencia*/
.container2TitleTrends {
    color: #ffffff;
    font-family: 'Garant Pro';
    margin: 10px;
}

/*Imágenes de los productos de la sección "Subastas en tendencia"*/
.container2ImgTrends {
    width: 70px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}

.historias{
    scrollbar-width: none;
    width: 100%;
    overflow-x: auto; /* Habilita el desplazamiento horizontal */
    white-space: nowrap; /* Evita el salto de línea */
    display: flex; /* Alinea las historias en una fila */
    gap: 10px; /* Espacio entre las historias */
}

/*Título de la sección "Trueques"*/
.titleTrueques {
    color: #ffffff;
    font-family: 'Garant Pro';
    margin: 10px;
}

/*Container de todas las cards*/
.containerTruequeCards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* width: 65%;
    display: grid;
    grid-template-columns:50% 50% 50%; */
}

/*Container cards de la sección Trueques*/
.truequeCards {
    width: 275px;
    height: 305px;
    color: #ffffff;
    margin: 8px;
    justify-content: center;
    align-content: center;
}

/*Imagen en las cards del objeto que se va a truequear*/
.imgObjetoTrueque {
    width: 100%;
    display: flex;
    border-radius: 10px;
}

/*Container de la información en las cards: foto de perfil, nombre, likes y comentarios*/
.truequeCardInfo {
    margin-top: 10px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
}

/*Imagen pequeña de perfil en las cards de productos para truequear*/
.imgPerfilTrueque {
    width: 20px;
    height: 20px;
    margin-left: 0px;
    border-radius: 40px
}

/*Nombre del perfil en la card*/
.cardsTruequeName {
    font-family: "Garant Pro";
    font-size: 15px;
    color: #ffffff;
    justify-content: flex-start;

}

/*Container del número e ícono de likes y comentarios*/
.truequeCardsIconNum {
    font-family: 'Garant Pro';
    padding-left: 10px;
}

/*Número de likes y comentarios*/
.truequeCardsIconNum p {
    font-family: 'Garant Pro';
}

/*Ícono de likes y comentarios*/
.truequeCardsIconNum i {
    width: 8px;
    margin-right: 10px;
}



@media (min-width: 320px) and (max-width: 805px) {
    main{
        display: flex;
        flex-direction: column;
    }
    .container1 {
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px;
        background-color: #1E1E1E;
        color: #ffffff;
        position: fixed;
        height: 70px;
        width: 100%;
        z-index: 20;
    }

    /*Logo*/
.container1LogoHandel {
    width: 15%;
    text-align: left;
}

.logo {
    margin-top: 15px;
    width: 90%;
    margin-bottom: 10px;
    margin-left: 10px;
}

.container1Perfil{
    display: flex;
    flex-direction: row-reverse;

    width: 85%;
    justify-content: space-between;

}
/*Información principal del perfil: imagen, nombre, usuario*/
.container1DatosPerfil {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    text-align: center;
    width: 35%;
    font-family: 'Garant Pro';
    font-size: 13px;
    margin-right: 5%;
}

/*Imagen perfil de la columna izquierda*/
.container1imgPerfil {
    width: 50px;
    margin-left: 10px;
    margin-bottom: 2px;
    shape-outside: circle();
    clip-path: circle();
}


/* Texto subastas, transacciones, puntuación */
.container1RankingPerfil {
    display: none;
}
.imgPerfilTrueque {
    width: 30%;
    margin-left: 0px;
    border-radius: 10px
}


/*Íconos y textos de inicio, subastas, trueques, mensajes, configuración*/
.container1ColumnaIconosTexto {
    display: flex;
    flex-direction: row;
    font-family: 'Garant Pro';
    width: 50%;
    padding:20px;
}

.redirections {
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    width: 50%;
    cursor: pointer;
}
h5{
    display: none;
}
.letra{
    font-size: 12px;
    vertical-align: middle;
    display: inline;
}

.container1ColumnaIconosTexto>a{
    text-decoration: none;
    color: #ECECEC;
}
.container1ColumnaIconosTexto>a>div>p {
    display: none;
}

/*Línea de división*/
.container1Linea{
    display: none;
}
hr{
    display: none;
}

/*Botón de salir*/
.salir{
    width: 10%;
    margin-top: 25px;
}

#logout {
    padding: 0px;
    margin-left: 0;
    width: 80%;
}

.salir_boton{
    display: none;
}

.container2 {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.truequeCards {
    width: 150px;
    height: 190px;
    color: #ffffff;
    margin: 8px;
    border-radius: 10px;
    background-image: linear-gradient(360deg, var(--gold2) 0%, var(--black) 20%);
}

.cardsTruequeName{
    display: none;
}
.truequeCardInfo {
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 8px;
}

}

@media (min-width: 320px) and (max-width: 500px) {

        /*Logo*/
.container1LogoHandel {
    margin-top: 6px;
    width: 15%;
    text-align: left;
}

.logo {
    margin-top: 15px;
    width: 90%;
    margin-bottom: 10px;
    margin-left: 10px;
}
    .nombreprofile{
        display: none;
    }

    .container1DatosPerfil {
        width: 15%;
    }
    .salir{
        width: 15%;
        margin-top: 25px;
        margin-left: 10px;
    }
    .container1ColumnaIconosTexto{
        width: 79%;
    }
    .salir{
        width: 6%;
    }
}


