@import url('https://fonts.cdnfonts.com/css/garant-pro?styles=143035,143032');
@import url('https://fonts.cdnfonts.com/css/tt-rationalist-trl');
*{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #000000; */
}

.body {
    font-family: 'Garant Pro';
}
main{
    display: flex;
    flex-direction: row;
}

/*COLUMNA IZQUIERDA*/
.container1 {
    width: 25%;
    margin: 0px;
    padding: 0px;
    background-color: #1E1E1E;
    color: #ffffff;
    position: fixed;
    height: 100%;
}

/*Logo*/
.container1LogoHandel {
    width: 100%;
    text-align: left;
}

.logo {
    margin-top: 10px;
    width: 25%;
    margin-bottom: 10%;
    margin-left: 10%;
}

/*Información del perfil: imagen, nombre, usuario*/
.container1DatosPerfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 23px;
    font-family: 'Garant Pro';
    font-size: 18px;
}

/*Imagen perfil columna izquierda*/
.container1imgPerfil {
    width: 20%;
    border-radius: 35px;
}

/*Información perfil sobre ranking en subastas, transacciones y puntuación*/
.container1RankingPerfil {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Garant Pro';
    font-size: 14px;
}

/*Texto subastas, transacciones, puntuación*/
.container1RankingTexto {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    font-family: 'Garant Pro';
    justify-content: space-between;
    margin-left: 10%;
    grid-template-columns: 5px 5px 5px;
}

.parrafoEstrella{
    display: flex;
    flex-direction: row;
}

.parrafoEstrella>i{
    margin-left: -50px;
}

/*Íconos y textos de inicio, subastas, trueques, mensajes, configuración*/
.container1ColumnaIconosTexto {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-family: 'Garant Pro';
    margin-left: 10%;
}

.container1ColumnaIconosTexto>div {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}
.container1ColumnaIconosTexto>div>i {
    width: 25px ;
}

/*Línea de división*/

hr{
    width: 89%;
    margin: 10%;
    color: #8b8989;
}

/*Botón de salir*/
#logout {
    display: flex;
    flex-direction: row;
    background-color: #1e1e1e00;
    font-family: 'Garant Pro';
    padding: 0px;
    margin-left: 15px;
    width: 80%;
    color: #ffffff;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

#logout>i{
    width: 50px;
    size: 200%;
    font-size: 20px;
} 


/*COLUMNA DERECHA*/
.container2 {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    width: 75%;
    background: #000;
}

/*Barra de búsqueda*/
.navBarra{
    font-family: 'Garant Pro';
}
#barraBusqueda {
    width: 60%;
    margin-left: 10%;
    margin-top: 10px;
    border-radius: 60px;
    height: 20px;
    padding: 15px;
    background-color: #1E1E1E;
    color: white;
    border: none;
    
}


/*Imágenes productos en subasta que son tendencia*/
.container2ImgTrends {
    width: 90px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
}



/*Imagen del objeto a truequear en las cards*/
.imgObjetoTrueque {
    width:150px;
    display: flex;
    border-radius: 20px;
}

/*Imagen pequeña de perfil en las cards de productos para truequear*/
.imgPerfilTrueque {
    width: 6%;
    border-radius: 30px;
    margin-top: 5px;
}

.cardsTruqueName {
    font-family: "Garant Pro";
    font-size: 12px;
    margin-top: 0px;
}





