/*Fuentes tipográficas*/
@import url('https://fonts.cdnfonts.com/css/garant-pro?styles=143035,143032');
@import url('https://fonts.cdnfonts.com/css/tt-rationalist-trl');

/*Paleta de colores*/
:root{
    --transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    --black: #000;
    --grey: #ECECEC;
    --white: #fff;
    --gold1: #FFE680;
    --gold2: #D7AE00;
}
*{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #000000; */
}
/* CUADRO DE ALERTA */
/* Estilo para el contenedor de la alerta APROBADA*/
.mi-alerta {
    background-color: #f5f5f5;
    border: 2px solid #ccc;
}

.mi-titulo {
    color: #333;
    font-size: 20px;
}

.mi-contenido {
    color: #666;
}

.mi-boton {
    background-color: #007bff;
    color: #fff;
    width: 100px;
}
/* Estilo para el contenedor de la alerta RECHAZADA*/
.mi-alerta-error {
    background-color: #ffcccc;
    border: 2px solid #ff0000;
}

.mi-titulo-error {
    color: #ff0000;
    font-size: 20px;
}

.mi-contenido-error {
    color: #ff3333;
}


.mi-boton-error {
    background-color: #ff0000;
    color: #fff;
    width: 100px;
}

/*Especificaciones generales para el contenido del body*/
.body {
    font-family: 'Garant Pro';
    display: flex;
}

/*Especificaciones para el container main que encierra todo el contenido*/

.Cuerpo{
    display: flex;
    background-color: #000000; 
    height: 100vh;
}
.Cuerpo_editable{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filtros{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 80%;
}

.publicaciones{
    width: 33%;
    display: flex;
    flex-direction: row;
}

.publicaciones>button{
    border: 0;
}
#activas{
    color: white;
    background-color: rgb(59, 59, 59);
    border-bottom: 2px solid rgb(248, 248, 248);
    width: 50%;
}
#sugeridas{
    color: grey;
    background-color: #000;
    border-bottom: 1px solid grey;
    width: 25%;
    margin-right:25% ;
}

.publicaciones1{
    width: 33%;
    display: flex;
    flex-direction: row;
}
.publicaciones1>input{
    border-radius: 10px 0 0 10px;
    background-color: #666;
    color: white;
    padding-left: 20px;
    border: 0;
    width: 75%;
}

.btnFiltro{
    padding-top: 5px;
    border-radius: 0 5px 5px  0;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    text-align: center;
    color: white;
    cursor: pointer;
    border: 0;
    border-left: 1px solid #a1a1a1;
    width: 25%;
}
.publicaciones1>button>box-icon{
    width: 40px ;
    margin: 0;
}

.publicaciones2{
    display: flex;
    flex-direction: row;
    width: 24%;
}

#lista{
margin-left: 8.3%;
width: 37.5%;
}

#grid{
    margin-right: 16.7%;
    width: 37.5%;
    }

.publicaciones3{
    width: 10%;
}
.publicaciones3>button{
    height: 30px;
}
button{
    cursor: pointer;
}

.ContenidoSubastas{
    margin-top: 30px;
    width: 80%;
    height: 170px;
}

.contenedor{
    display: flex;
    flex-direction: row;
    margin: 2px solid var(--white);
    padding: 10px 10px;
}
.imagenContainer{
    width: 25%;
}
.imagenPublicacion{
    margin-left: 10%;
    width: 90%;
    border-radius: 20px;
    
}
.infoProducto{
    color: #ECECEC;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 5%;
}
.infoPublicacion{
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    height: 25%;
    text-align: left;
}
.parrafoLikes{
    display: flex;
    flex-direction: row;
}
.parrafoVistas{
    display: flex;
    flex-direction: row;
}

.infoGral{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    height:70%;
}

.statusPublicacion{
    width: 75%;
    display: flex;
    flex-direction: column;
}
.texto{
    height: 30%;
    display: flex;
    flex-direction: row;
}
.titulo{
    width: 40%;
    color: #666;
}
.btnParticipar{
    display: flex;
    width: 25%;
    text-align: center;
    justify-content: center;
    align-items: center; 
}

.participar{
    color: rgb(255, 255, 255);
    background-color: #333;
    border: 0;
    border-radius: 20px;
    width: 60%;
    height: 25px;
}

