/*Fuentes tipográficas*/
@import url('https://fonts.cdnfonts.com/css/garant-pro?styles=143035,143032');
@import url('https://fonts.cdnfonts.com/css/tt-rationalist-trl');

/*Paleta de colores*/
:root{
    --transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    --black: #000;
    --grey: #ECECEC;
    --white: #fff;
    --gold1: #FFE680;
    --gold2: #D7AE00;
}
*{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Garant pro';
    /* background: #000000; */
}
/* CUADRO DE ALERTA */
/* Estilo para el contenedor de la alerta APROBADA*/
.mi-alerta {
    background-color: #f5f5f5;
    border: 2px solid #ccc;
}

.mi-titulo {
    color: #333;
    font-size: 20px;
}

.mi-contenido {
    color: #666;
}

.mi-boton {
    background-color: #007bff;
    color: #fff;
    width: 100px;
}
/* Estilo para el contenedor de la alerta RECHAZADA*/
.mi-alerta-error {
    background-color: #ffcccc;
    border: 2px solid #ff0000;
}

.mi-titulo-error {
    color: #ff0000;
    font-size: 20px;
}

.mi-contenido-error {
    color: #ff3333;
}


.mi-boton-error {
    background-color: #ff0000;
    color: #fff;
    width: 100px;
}


/* SECCION POR NATALIA BORRAR!!! */

.porNatalia{
    padding: 10px;
    margin-top: 100px;
    color: white;
    width: 80%;
    align-items: center;
    margin-left: 10%;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.431);
    border-radius: 20px;
    margin-bottom: 30PX;
}

.buttonNat{
    background-color: white;
    width: 30%;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    height: 30px;
}

/*Especificaciones generales para el contenido del body*/
.body {
    font-family: 'Garant Pro';
    display: flex;
    background: #000;
}

/*Especificaciones para el container main que encierra todo el contenido*/

.Cuerpo{
    display: flex;
    flex-direction: column;
    background-color: #000000; 
    height: 100%;
}
.Cuerpo_editable{
    /* margin-top: 100px;  ACTIVAR CUANDO SE BORRE NATALIA */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filtros{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 80%;
}

.publicaciones{
    width: 33%;
    display: flex;
    flex-direction: row;
}

.publicaciones>button{
    border: 0;
}
#activas{
    color: white;
    background-color: rgb(59, 59, 59);
    border-bottom: 2px solid rgb(248, 248, 248);
    width: 50%;
}
#activas::before{
    content: "Publicaciones Activas";
}
#sugeridas{
    color: grey;
    background-color: #000;
    border-bottom: 1px solid grey;
    width: 25%;
    margin-right:25% ;
}

.publicaciones1{
    width: 33%;
    display: flex;
    flex-direction: row;
}
.publicaciones1>input{
    border-radius: 10px 0 0 10px;
    background-color: #666;
    color: white;
    padding-left: 20px;
    border: 0;
    width: 75%;
}

.btnFiltro{
    padding-top: 5px;
    border-radius: 0 5px 5px  0;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    text-align: center;
    color: white;
    cursor: pointer;
    border: 0;
    border-left: 1px solid #a1a1a1;
    width: 25%;
}

.publicaciones1>button>box-icon{
    width: 40px ;
    margin: 0;
}

.publicaciones2{
    display: flex;
    flex-direction: row;
    width: 24%;
}

#lista{
margin-left: 8.3%;
width: 37.5%;
}

#grid{
    margin-right: 16.7%;
    width: 37.5%;
    }

.publicaciones3{
    width: 10%;
}
.publicaciones3>button{
    height: 30px;
}
#crear::before{
    content: "+ Crear";
}
button{
    cursor: pointer;
}

.ContenidoSubastas{
    margin-top: 30px;
    width: 80%;
    height: 100%;
}
i{
    width: 25px;
    margin-right: 5px;
  }
.material-symbols-outlined{
    width: 30px;
}

.NombreUsuario{
    font-size: 25px;
    font-family: 'TT rationalist trl';
}
.CantidadLikes{
    width: 45px;
}

.CantidadVistas{
    margin-right: 10px;
    width: 40px;

}

.contenedor{
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(128, 128, 128, 0.474);
    padding: 10px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.imagenContainer{
    width: 25%;
}
.imagenPublicacion{
    margin-left: 10%;
    width: 90%;
    border-radius: 20px;
}
.infoProducto{
    color: #ECECEC;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 5%;
}
.infoPublicacion{
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    height: 25%;
    text-align: left;
}
.parrafoLikes{
    display: flex;
    flex-direction: row;
}
.parrafoVistas{
    display: flex;
    flex-direction: row;
}

.infoGral{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    height:70%;
}

.statusPublicacion{
    width: 75%;
    display: flex;
    flex-direction: column;
}
.texto{
    height: 30%;
    display: flex;
    flex-direction: row;
}
.titulo{
    width: 40%;
    color: #666;
}
.btnParticipar{
    display: flex;
    width: 25%;
    text-align: center;
    justify-content: center;
    align-items: center; 
}

.participar{
    color: rgb(255, 255, 255);
    background-color: #333;
    border: 0;
    border-radius: 20px;
    width: 80%;
    height: 35px;
}

/* MEDIA QUERY PARA LA BARRA DE FILTROS */
@media  (min-width: 350px) and (max-width: 1080px){
    #activas{
        width: 50%;
    }
    #activas::before{
        content: "Publicaciones Activas";
    }
    #sugeridas{
        width: 50%;
        margin-right:0% ;
    }
    #activas::before {
        content: "Activas";
    }
    .btnFiltro{
        color: transparent;
        font-size: 0;
    } 
}

@media  (min-width: 350px) and (max-width: 649px){
    #crear::before{
        content: "+";
    }
}

@media  (min-width: 350px) and (max-width: 550px){
    #sugeridas{
        display: none;
    }
    .publicaciones1>input{
        padding: 0;
    }
}

/* MEDIA QUERY PARA LAS TARJETAS */
@media  (min-width: 630px) and (max-width: 700px){
    .contenedor{
        font-size: 12PX;
    }
    i{
        display: none;
        font-size: 0;
    }
    .bx-heart{
        display: none;
    }
    .parrafoLikes{
        height: 24px;
    }
    .material-symbols-outlined{
        display: none;
        visibility: hidden;
    }
}

@media  (min-width: 350px) and (max-width: 700px){
    .contenedor{
        font-size: 12PX;
    }
  
    .bx-heart{
        display: none;
    }
    .parrafoLikes{
        height: 24px;
    }
    .material-symbols-outlined{
        display: none;
        visibility: hidden;
    }
    .participar{
        width: 90px;
    }
}
@media  (min-width: 350px) and (max-width: 630px){

    .parrafoVistas{
        display: none;
    }
    .contenido{
        margin-left: 5px;
    }

    .parrafoLikes{
        display: none;
    }
    .contenedor{
        flex-direction: column;
        align-items: center;
    }
    .infoGral{
        align-items: center;
        flex-direction: column;
    }
    .btnParticipar{
        width: 300px;
    }
    .participar{
        margin-top: 10px;
        border-radius: 5px;
        width: 100px;
    }
    .NombreUsuario{
        text-align: center;
    }


}