@import url('https://fonts.cdnfonts.com/css/garant-pro?styles=143035,143032');
@import url('https://fonts.cdnfonts.com/css/tt-rationalist-trl');

/*Selector Universal*/
:root{
    --black: #000;
    --grey: #ECECEC;
    --white: #fff;
    --gold1: #FFE680;
    --gold2: #D7AE00;
}

*{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Garant pro';
    background-color: #000;
    display: flex;
}
/* Estilo para el contenedor de la alerta RECHAZADA*/
.mi-alerta-error {
    background-color: #ffcccc;
    border: 2px solid #ff0000;
    display: flex;
    justify-content: center;
}

.mi-titulo-error {
    color: #ff0000;
    font-size: 20px;
}

.mi-contenido-error {
    color: #ff3333;
}

.mi-boton-error {
    background-color: #ff0000;
    color: #fff;
    width: 100px;
}
.nav_Main{
    background-image: url(../Img/fondo_Premium_Cont.png);
    background-size: cover;
    object-fit: none;
    background-position: right center;
    height: 100vh;
    margin-top: 90px;
}

.numeros{

    display: flex;
    width: 35%;
    align-content: center;
    justify-content: center;
    margin-left: 30%;
    margin-top: 30px;
}

.container_Numero{
    color: var(--white);
    display: flex;
    width: 30%;
    text-align: center;
    align-items: center;
}

.circulo_Numero1{
    width: 30px;
	height: 30px;
	shape-outside: circle();
    clip-path: circle();
	background: var(--gold2);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    font-size: 10px;

}

.circulo_Numero{
    width: 30px;
	height: 30px;
	shape-outside: circle();
    clip-path: circle();
	background: #535658;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    font-size: 10px;

}

.texto_Numero{
    color: var(--white);
    opacity: 0.8;
}

.flecha{
    color: var(--white);
    display: flex;
    width: 5%;
    text-align: center;
}


.container_Principal{
    background-color: #212121;
    width: 35%;
    margin-left: 30%;
    margin-top: 30px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
}

h2{
    color: var(--white);
    font-family: 'TT rationalist trl';
    font-weight: normal;
    margin: 20px 20px 0px 20px;
}


.container_Principal > p{
    color: var(--white);
    margin-left: 20px;
    font-size: 13px;
    margin-bottom: 30px;
}



.image-upload-wrap{
    border: 2px dashed rgba(198, 198, 198, 0.65);
    height: 200px;
    width: 90%;
    margin-left: 5%;
    background-color: black;
    text-align: center;
    margin-bottom: 40px;
    border-radius: 10px;
    position: relative;
}


.image-dropping,
.image-upload-wrap:hover{
    background-color: rgb(222, 222, 222, 0.5);
    border: 2px dashed black;
    color: #000;

}

.image-upload-wrap > i{
    color: #fff;
    opacity: 0.3;
    font-size: 70px;
    width: 70px;
    margin-top: 30px;
}


.image-upload-wrap > p{
    color: var(--white);
    font-size: 12px;
}


.file-upload-input {
    position: absolute;
    margin-left: -41%;
    padding: 0px;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.texto_Archivo{
    color: var(--white);
    font-size: 10px;
    margin-bottom: 30px;
}


.file-upload-content{
    display: none;
    text-align: center;
}

.image-title-wrap{
    padding: 0 15px 15px 15px;
    color: #222;
}

.file-upload-image {
    max-height: 170px;
    max-width: 230px;
    object-fit: contain;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 60%;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border: none;
    transition: all .2s ease;
    outline: none;
    font-weight: 700;
}
  
.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}
  
.remove-image:active {
    border: 0;
    transition: all .2s ease;
}




.container_Botones{
    display: flex;
    justify-content: space-between;
}

button{
    width: 35%;
    margin: 0px 25px;
    padding: 15px 0px;
    border-radius: 10px;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
}

.cancelar{
    background-color: #000;
    border: 1px white solid;
    color: white;
    cursor: pointer;
}


@media  (min-width: 601px) and (max-width: 1000px){
    .numeros{
        display: flex;
        width: 50%;
        align-content: center;
        justify-content: center;
        margin-left: 25%;

    }
    .container_Numero{
        color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        text-align: center;
        font-size: 12px;
    }

    .container_Principal{
        background-color: #212121;
        width: 50%;
        margin-left: 25%;
        margin-top: 30px;
        border-radius: 10px;
        height: 400px;
        display:flex;
        flex-direction: column;
    }
    .file-upload-input {
        margin-left:-40%;
    }


}

@media  (min-width: 320px) and (max-width: 600px){
    .numeros{
        display: flex;
        width: 70%;
        align-content: center;
        justify-content: center;
        margin-left: 15%;

    }
    .container_Numero{
        color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        text-align: center;
        font-size: 12px;
    }

    .container_Principal{
        background-color: #212121;
        width: 70%;
        margin-left: 15%;
        margin-top: 30px;
        border-radius: 10px;
        height: 400px;
        display:flex;
        flex-direction: column;
    }

    .file-upload-input {
        margin-left:-37%;
    }
    
}

@media  (min-width: 350px) and (max-width: 1255px){
    .navBar{
        align-items: center;
        height: 80px;
    }
    .linksNavBar{
        display: none;
    }
    .menuButton{
        display: flex;
        width: 25%;
        background-color: var(--black);
        height: 40px;
        margin-left: 25px;
    }
    .burguerMenu{
        visibility: visible;
        color: var(--white);
        width: 50px;
        border-width: 1.5px;
        border-radius: 9px;
        text-align: center;
    }
    .burguerMenu:hover{
        background-color: var(--gold2);
    }
    .burguerMenu:active{
        background-color: var(--gold1);
    }
    .burguerMenu i{
        text-align: center;
        font-size: 35px;
    }
    
    .logosNav{
        width: 25%;
    }
    .logoNavBar2 img{
        width: 30px;
        align-items: center;
        display: flex;
    }

    .logoNavBar img{
        display: none;
    }
    .navBarIcons{
        width: 25%;
        align-items: center;
        margin-left: 10px;
    }
    .navBarIcons a{
        padding: 0px 5px;
        margin-bottom: 25px;
    }
    .profileConfig{
        width: 25%;
        padding-left: 0px;
        margin-left: 20px;
        margin-bottom: 15px;
    }
    .profileConfig:hover .profileList {
        display: block;
        background-color: rgb(46, 46, 46);
        width: 150px;
        text-align:left;
        position: fixed;
        right: 100px;
        z-index: 50;
    }

    .menuButton:hover .linksNavBar{
        display: block;
        background-color: rgb(46, 46, 46);
        z-index: 50;
        text-align:left;
        position: fixed;


    }
}