
body{
    text-align: center;                                         
}
*{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #000;
    --grey: #ECECEC;
    --white: #fff;
    --gold1: #FFE680;
    --gold2: #D7AE00;
}

.sorryContainer{
    display: block;
    font-family: 'Garant Pro', sans-serif;                                            
}
header{
    font-family: 'TT Rationalist Trl', sans-serif;
    width: 100%;
    background: linear-gradient(180deg, #0000007e 0%, var(--white) 100%); 
                                      
}


h1{
    font-family: 'TT Rationalist Trl', sans-serif;
    font-size: 48px;                                            
}

.logo {
    text-align: left;
    display: flex;
    margin-bottom: 15px;
}

.sorryImg {
    width: 120px;
    margin-left: 100px;
    margin-right: -20px;
}

.sorryLogo {
    font-family: 'TT rationalist trl';
    font-weight: 400;
    margin-top: 60px;
    font-size: 35px;
}

.underImg{
    width: 25%;
}

.sorryButton{
    padding: 25px 40px;
    background: linear-gradient(180deg, var(--gold2) 0%, var(--gold1) 100%);
    border-radius: 40px;
    text-decoration: none;
    color: #000;

}
.sorryButton:hover{
    background: linear-gradient(180deg, var(--gold1) 0%, var(--gold2) 100%);

}

@media  (min-width: 350px) and (max-width: 650px){
    h1{
        font-family: 'TT Rationalist Trl', sans-serif;
        font-size: 28px;    
        margin: 10px;                                        
    }
    .sorryImg {
        width: 120px;
        margin-left: 100px;
        margin-right: -20px;
    }
    
    .logo {
        text-align: left;
        display: flex;
        margin-bottom: 15px;
        align-items: center;
    }
    .sorryLogo {
        font-family: 'TT rationalist trl';
        font-weight: 400;
        margin-top: 45px;
        margin-left: -10px;
        font-size: 35px;
    }
    
    .sorryTitle{
        font-size: 18px;  
        margin-bottom: 30px;
    }
   
    .underImg{
        width: 70%;
        margin-bottom: 40px;
    }
    .sorryContainer{
        margin-top: 50px;
                                    
    }
    
    .sorryButton{
        padding: 25px 40px;
        background: linear-gradient(180deg, var(--gold2) 0%, var(--gold1) 100%);
        border-radius: 40px;
        text-decoration: none;
        color: #000;
    
    }
    .sorryButton:hover{
        background: linear-gradient(180deg, var(--gold1) 0%, var(--gold2) 100%);
    }
    
}