@import url('https://fonts.cdnfonts.com/css/garant-pro?styles=143035,143032');
@import url('https://fonts.cdnfonts.com/css/tt-rationalist-trl');

/*Selector Universal*/
:root{
    --black: #000;
    --grey: #ECECEC;
    --white: #fff;
    --gold1: #FFE680;
    --gold2: #D7AE00;
}

*{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Garant pro';
    background-color: #000;
    display: flex;
}
/* Estilo para el contenedor de la alerta RECHAZADA*/
.mi-alerta-error {
    background-color: #ffcccc;
    border: 2px solid #ff0000;
    display: flex;
    justify-content: center;
}

.mi-titulo-error {
    color: #ff0000;
    font-size: 20px;
}

.mi-contenido-error {
    color: #ff3333;
}

.mi-boton-error {
    background-color: #ff0000;
    color: #fff;
    width: 100px;
}

.nav_Main{
    background-image: url(../Img/fondo_Premium_Cont.png);
    background-size: cover;
    object-fit: none;
    background-position: right center;
    height: 100vh;
}

.numeros{
    display: flex;
    width: 35%;
    align-content: center;
    justify-content: center;
    margin-left: 30%;
    margin-top: 100px;

}

.container_Numero{
    color: var(--white);
    display: flex;
    align-items: center;
    width: 30%;
    text-align: center;
}

.circulo_Numero1{
    width: 30px;
	height: 30px;
	shape-outside: circle();
    clip-path: circle();
	background: var(--gold2);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    font-size: 10px;

}

.circulo_Numero{
    width: 30px;
	height: 30px;
	shape-outside: circle();
    clip-path: circle();
	background: #535658;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    font-size: 10px;

}

.texto_Numero{
    color: var(--white);
    opacity: 0.8;
}

.flecha{
    color: var(--white);
    display: flex;
    width: 5%;
    text-align: center;
}


.container_Principal{
    background-color: #212121;
    width: 70%;
    margin-left:15%;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.conteiner_Arriba{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.conteiner_Info{
    width: 100%;
}

.container_Img_Botones{
    width: 100%;
}

.vistas_Likes{
    color: var(--white);
    display: flex;
    margin-bottom: 15px;
}

.likes{
    display: flex;
    align-items: center;
}

.likes > i{
    width: 10%;
}

.vistas{
    display: flex;
    align-items: center;
}

.vistas > span{
    width: 15%;
}

.titulo_Conteiner{
    color: var(--white);
    margin-bottom: 20px;
}

h2{
    font-family: 'TT rationalist trl';
    font-weight: normal;
}

hr{
    width: 90%;
    margin-bottom: 20px;
}

.descripcion_Objeto{
    color: var(--white);
    font-size: 13px;
    width: 90%;
    font-weight: bold;
    text-align: justify;
}


.autor_Propiedades{
    display: flex;
    margin-top: 40px;
}

.autor{
    color: var(--white);
    width: 45%;
    margin-bottom: 10px;
}

.autor_Ganador{
    display: flex;
    flex-direction: column;
}

.ganador{
    color: var(--white);
    width: 45%;
}

.titulo_Oferta{
    color: var(--white);
    opacity: 0.5;
    font-size: 13px;
    font-weight: bold;
}


.usuario_Oferta{
    color: var(--white);
    font-size: 12px;
}

.autor > p{
    color: var(--white);
    opacity: 0.5;
    font-size: 14px;
    font-weight: bold;
    width: 60%;
}
.foto_us_Autor{
    display: flex;
    align-items: center;
}


.foto_us_Autor > p{
    margin-left: 10px;
    font-size: 12px;
    width: 60%;
}

.foto_autor{
    shape-outside: circle();
    clip-path: circle();
    width: 15%;
}


.valores_Productos{
    display: flex;
    flex-direction: column;
}

.valor_Actual{
    display: flex;
}

.valor_Actual > p{
    color: var(--white);
    font-size: 12px;
    opacity: 0.5;
    width: 80px;
    font-weight: bold;
}

.input_ValorActual{
    background-color: #3F3D46;
    border: none;
    border-radius: 5px;
    width: 40%;
    font-size: 10px;
}


.visibility{
    display: flex;
}

.visibility > p{
    color: var(--white);
    font-size: 12px;
    opacity: 0.5;
    width: 80px;
    font-weight: bold;
}

.visibility > span{
    color: var(--white);
    font-size: 12px;
    font-weight: bold;
    width: 50%;
}


.incremento{
    display: flex;
}

.incremento > p{
    color: var(--white);
    font-size: 12px;
    opacity: 0.5;
    width: 80px;
    font-weight: bold;
}

.input_Incremento{
    background-color: #3F3D46;
    border: none;
    border-radius: 5px;
    width: 40%;
    font-size: 10px;
}



.borde_Imagen{
    border: 1px rgb(128, 128, 128, 0.4) solid ;
    border-radius: 10px;
    padding: 3%;
    width: 70%;
    margin-left: 15%;
}

.imagen{
    border-radius: 10px;
}

.botones_derecha{
    display: flex;
    flex-direction: row;
}

button{
    border-radius: 10px;
    cursor: pointer;
}


.pujar{
    background-color: var(--white);
    color: #000;
    border: none;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px 5px;
    width: 50%;
    margin-left: 10%;
}

.abandonar{
    background-color: #000;
    color: var(--white);
    border: white solid;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px 5px;
    font-size: 12px;
    width: 50%;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.7;
}


.footer{
    background-color: #2A2831;
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: 15%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.footer_Textos{
    margin: 10px 10px 10px 25px ;
}

.footer_Textos > h4{
    font-family: 'TT rationalist trl';
    font-weight: normal;
    color: var(--white);
    font-size: 18px;
}

.footer_Textos > p{
    color: var(--white);
    font-size: 12px;
    opacity: 0.5;
}

.footer_Botones{
    display: flex;
    align-items: center;
    margin: 10px 25px 10px 10px;
}

.footer_Botones > button{
    border-radius: 5px;
    cursor: pointer;
    padding: 0px ;
    width: 30%;
    height: 80%;
}

.volver{
    background-color:  #2A2831;
    color: var(--white);
    border: white solid;
    font-size: 12px;
    margin-right: 5%;
    margin-left: 35%;
}

.publicar{
    background-color: var(--white);
    color: black;
    border: none;
    font-size: 12px;
}


@media  (min-width: 601px) and (max-width: 1000px){
    .numeros{
        display: flex;
        width: 50%;
        align-content: center;
        justify-content: center;
        margin-left: 25%;

    }
    .container_Numero{
        color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        text-align: center;
        font-size: 12px;
    }



    


}

@media  (min-width: 320px) and (max-width: 600px){
    .numeros{
        display: flex;
        width: 70%;
        align-content: center;
        justify-content: center;
        margin-left: 15%;

    }
    .container_Numero{
        color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        text-align: center;
        font-size: 12px;
    }

    
    
}

@media  (min-width: 650px) and (max-width: 1200px){

    .autor_Propiedades{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
    }

    .autor{
        color: var(--white);
        width: 45%;
        margin-bottom: 15px;
    }

    .autor_Ganador{
        display: flex;
        flex-direction: row;
    }

    
}

@media  (min-width: 500px) and (max-width: 650px){
    .autor_Ganador{
        display: flex;
        flex-direction: column;
    }
    
    .ganador{
        color: var(--white);
        width: 100%;
    }


    
}




@media (min-width:800px) and (max-width:950px){
 
    .botones_derecha{
        display: flex;
        flex-direction: row;
    }
    .volver{
        width: 50%;
    }
    
}

@media  (min-width: 320px) and (max-width: 800px){
    .container_Principal{
        background-color: #212121;
        width: 70%;
        margin-left:15%;
        margin-top: 30px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 25px;
    }
    .conteiner_Arriba{
        display: flex;
        flex-direction: column;
    }
    .descripcion_Objeto{
        color: var(--white);
        font-size: 13px;
        width: 100%;
        font-weight: bold;
    }

    .valores_Productos{
        display: flex;
        flex-direction: column;
    }
    .volver{
        width: 50%;
    }
    

    
    

}


@media  (min-width: 650px) and (max-width: 800px){
    .autor_Propiedades{
        display: flex;
        flex-direction: row;
        margin: 25px 0px;
        align-items: center;
    }

    .autor{
        color: var(--white);
        width: 45%;
        margin-bottom: 15px;
    }

    .borde_Imagen{
        border: 1px rgb(128, 128, 128, 0.4) solid ;
        border-radius: 10px;
        padding: 3%;
        width: 50%;
        margin-left: 25%;
    }

}

@media  (min-width: 500px) and (max-width: 649px){
    .autor_Propiedades{
        display: flex;
        flex-direction: row;
        margin: 25px 0px;
        align-items: center;
    }

    .autor{
        color: var(--white);
        width: 60%;
        margin-bottom: 15px;
    }


    
    .input_ValorActual{
        background-color: #3F3D46;
        border: none;
        border-radius: 5px;
        width: 40%;
        margin-left: 0%;
        font-size: 10px;
    }
    
    
    .visibility > span{
        color: var(--white);
        font-size: 12px;
        font-weight: bold;
    }
    
    
    .input_Incremento{
        background-color: #3F3D46;
        border: none;
        border-radius: 5px;
        width: 40%;
        font-size: 10px;
        margin-left: 0%;
    }


    
    .footer_Botones{
        display: flex;
        align-items: center;
        margin: 10px 25px 10px 10px;
    }
    
    .footer_Botones > button{
        border-radius: 5px;
        cursor: pointer;
        padding: 0px ;
        width: 50%;
        height: 60%;
    }
    
    .volver{
        background-color:  #2A2831;
        color: var(--white);
        border: white solid;
        font-size: 12px;
        margin-right: 0%;
        margin-left: 5%;
    }
    
    .publicar{
        background-color: var(--white);
        color: black;
        border: none;
        font-size: 12px;
        margin-left: 10%;
    }



}

@media  (min-width: 320px) and (max-width: 499px){
    .autor_Propiedades{
        display: flex;
        flex-direction: column;
        margin: 25px 0px;
    }

    .autor{
        color: var(--white);
        width: 50%;
        margin-bottom: 15px;
    }

    .autor_Ganador{
        display: flex;
        flex-direction: row;
    }

    .valor_Actual > p{
        color: var(--white);
        font-size: 12px;
        opacity: 0.5;
        width: 50%;
        font-weight: bold;
    }
    
    .input_ValorActual{
        background-color: #3F3D46;
        border: none;
        border-radius: 5px;
        width: 40%;
        margin-left: 0%;
        font-size: 10px;
    }
    
    .visibility > p{
        color: var(--white);
        font-size: 12px;
        opacity: 0.5;
        width: 50%;
        font-weight: bold;
    }

    
    .visibility > span{
        color: var(--white);
        font-size: 12px;
        font-weight: bold;
        margin-left: 0%;
    }
    
    .incremento > p{
        color: var(--white);
        font-size: 12px;
        opacity: 0.5;
        width: 50%;
        font-weight: bold;
    }
    
    .input_Incremento{
        background-color: #3F3D46;
        border: none;
        border-radius: 5px;
        width: 40%;
        font-size: 10px;
        margin-left: 0%;
    }

    .borde_Imagen{
        border: 1px rgb(128, 128, 128, 0.4) solid ;
        border-radius: 10px;
        padding: 3%;
        width: 70%;
        margin-left: 15%;
    }

    .footer{
        background-color: #2A2831;
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-left: 15%;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
    
    }
    
    .footer_Textos{
        margin: 10px ;
        width: 90%;
    }
    
    .footer_Textos > h4{
        font-family: 'TT rationalist trl';
        font-weight: normal;
        color: var(--white);
        font-size: 15px;
    }
    
    .footer_Textos > p{
        color: var(--white);
        font-size: 10px;
        opacity: 0.5;
    }


    .footer_Botones{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
    }

    .footer_Botones > button{
        border-radius: 5px;
        cursor: pointer;
        padding: 0px ;
        width: 40%;
        height: 35px;
    }
    
    .volver{
        background-color:  #2A2831;
        color: var(--white);
        border: white solid;
        font-size: 12px;
        margin-right: 10%;
        margin-left: 0%;
    }
    
    .publicar{
        background-color: var(--white);
        color: black;
        border: none;
        font-size: 12px;
        margin-left: 0%;
        margin-bottom: 0px;
    }


}

@media  (min-width: 320px) and (max-width: 499px){
    .vistas_Likes{
        color: var(--white);
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 15px;
        font-size: 15px;
    }
    
    .likes{
        display: flex;
        align-items: center;
        text-align: left;
    }
    
    .likes > i{
        width: 10%;
    }
    
    .vistas{
        display: flex;
        align-items: center;
        text-align: left;
    }
    
    .vistas > span{
        width: 15%;
    }

    .botones_derecha{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pujar{
        margin: 20px 0px;
        padding: 10px 5px;
        width: 50%;
    }
    
    .abandonar{
        margin: 0;
        padding: 10px 5px;
        font-size: 12px;
        width: 50%;
        opacity: 0.7;
    }

 
    
}


